/* Общие стили для страницы */
body {
  margin: auto;
  font-family: Arial, sans-serif;
  width: 1024px;
}

/* Стили для названия игры*/
.Nameplay {
  position: relative;
  z-index: 1;
  margin: -630px 340px 650px;
}

/* Стили для страницы с выбором героев*/
.heroic-container {
  position: relative;
  text-align: center;
}

/* Стили для размещения героев*/
.heroic {
  margin: -570px 0px 50px 100px;
  position: relative;
  width: 650px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  z-index: 2;
}
.girl {
  height: 500px;
}

/* Стили для страницы с выбором имени героев*/
.heroic1-container {
  margin-top: 5px;
  position: relative;
  /* Добавим позиционирование "relative" для контейнера */
  text-align: center;
}

.heroic2-container {
  margin-top: 5px;
  position: relative;
  /* Добавим позиционирование "relative" для контейнера */
  text-align: center;
}

/* Стили для поля ввода Имени героя*/
.item-form-name {
  width: 480px;
  height: 100px;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  background: transparent;
  color: #DBE2F9;
  border: 2px solid #DBE2F9;
  border-radius: 8px;
  z-index: 2;
}

/* Стили для кнопки Поехали*/
.btn-start {
  width: 112px;
  height: 40px;
  background: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.01em;
  background-color: #89E159;
  color: #000000;
  border: 2px solid #89E159;
  border-radius: 8px;
  margin-top: 60px;
  margin-left: 375px;
}

/* Стили для поля ввода и кнопки */
.heroic-name {
  position: absolute;
  top: 75%;
  left: 60%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Поднимаем контейнер на передний план */
}

/* Стили для стрелки перехода на следующую страницу */
.arrow-link {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-size: 24px;
  text-decoration: none;
  color: #89E159;
  transition: transform 0.2s ease;
}

/* Стили для активной стрелки при наведении курсора */
.arrow-link:hover {
  transform: translateX(5px);
}

/* Стили для кнопки Следующий вопрос*/
.btn-arrow {
  width: 284px;
  height: 60px;
  background: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.01em;
  background-color: #89E159;
  color: #000000;
  border: 2px solid #89E159;
  border-radius: 8px;
}
#page-quizz-answerY-button {
  position: absolute;
  margin: -100px 700px;
  }

/* Стили для кнопки Вернуться*/
.btn-again {
  width: 193px;
  height: 60px;
  background: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.01em;
  background-color: #89E159;
  color: #000000;
  border: 2px solid #89E159;
  border-radius: 8px;
}
#page-quizz-answerN-button {
  position: absolute;
  margin: -100px 790px;
  }



/* Стили для таймера */
.time {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-around;
  width: 150px;
  position: relative;
  bottom: 170px;
  left: 850px;
  z-index: 1;
}

/* Стили для кнопки-ноты музыки */
.nota {
  width: 20px;
  cursor: pointer;
}


/* Стили для активной кнопки этапа */
.level-item .dot.active {
  opacity: 1;
}

/* Стили для пройденной кнопки этапа */
.level-item .dot.passed {
  opacity: 0.5;
}

/* Адаптивные стили для различных экранов */
@media screen and (max-width: 768px) {

  /* Для мобильных устройств */
  .place {
    top: 40%;
  }

  .task-text {
    font-size: 14px;
  }
}



#page-name,
#page-name-man,
#page-name-woman,
#page-map-1,
#page-map-2,
#page-map-3,
#page-map-4,
#page-map-5,
#page-map-old,
#page-quizz-man-1,
#page-quizz-woman-1,
#page-quizz-man-2,
#page-quizz-woman-2,
#page-quizz-man-3,
#page-quizz-woman-3,
#page-quizz-man-4,
#page-quizz-woman-4,
#page-quizz-man-5,
#page-quizz-woman-5 {
  display:block;
}

.answer-selected {
  border: red 1px solid;
}